.everything {
    background-color: goldenrod;
}

.titles_main {
    text-align: center;
}

.border {
    display: inline-block; 
    border: 2px solid black; 
    padding: 5px; 
    background-color: aquamarine;
    box-sizing: border-box;
}

.clickables {
    display: inline-block;
    border: 1px solid black;
    padding: 2px;
    box-sizing: border-box;
}

/* Allow things to be stacked vertically (cleans up code) */
.stuff {
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the container */
    gap: 10px; /* Add spacing between items */
}

.commentsContainer {
    width: 50%; 
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}